<!-- <app-nav></app-nav>
<div id="page-wrapper">
    <div class="wrapper">
        <div class="inner">
            <header id="header">
                <a href="index.html" class="logo">mi-wellbeing
                    <span>counselling in Exeter</span>
                </a>
                <nav>
                    <ul>
                        <li>
                            <a href="#menu">Menu</a>
                        </li>
                    </ul>
                </nav>
            </header>

        </div>
    </div>

    
</div> -->

<router-outlet></router-outlet>